

*{ /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(185, 248, 185);
}

.profile-pic{
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.main-wrapper{
    text-align: center;

}

.header-wrapper{
    background-color:rgba(0, 0, 0, 0.5);
    min-height: 80px;\

}

.header-main{
    margin-left: 2rem;
}

.function{
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(248, 186, 196);
    font-family: 'Space Mono', monospace;
}

.logo{
    color: #fff;
    font-weight: 600;
    font-size: 2rem;
}

.logo2{
    color: #fff;
    font-weight: 300;
    font-size: 2rem;
}

.parenthesis{
    color: rgb(167, 167, 241);
    font-weight: 300;
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
}

.brackets{
    color: red;
    font-family: 'Space Mono', monospace;
    font-weight: 300;
    font-size: 1.5rem;
}

.boxes{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
    width: max(650px, 70%) ;
}

.boxes p{
    text-align: left;
}

.sidebar{
    background-color: rgb(51, 51, 51);
    max-width: 20%;
}

footer{
    text-align: center;
    background-color: slateblue;
    min-height: 10rem;
}