

*{ /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 .outer-container{ /* container style */
    width: 100vw;
}

.header-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

header{
    width: 100%;
    background-color: rgb(37, 37, 37);
    color: #fff;
}

.logo-area{
    flex: 1;
    margin-right: 2rem;
}

.header-nav{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.header-nav a{
    padding: 0px 1rem;
    color: aliceblue;
    background-color: rgb(100, 100, 161);
    text-decoration: none;
}

